
# Local .terraform directories
**/.terraform/*
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*
*.tfstate.backup

# .terraform.lock.hcl
.terraform.lock.hcl

# Crash log files
crash.log
crash.*.log

# Provider binaries
**/providers/**/*.exe
**/providers/**/*.dll
